body {
    margin-left: 80px;
    background-image: url('images/Navy\ background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    gap: 1rem;
    min-height: 100vh;
}

.name {
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-size: 140px;
    margin-top: 40px;
    color: rgb(254, 254, 254);

    
}

.contact {
    position: absolute;
    bottom: 40px;
}

.list-group-item {
    margin-top: 120px;
    font-size: 30px;
}

.hidden {
    display: none;
}

.content {
    display: flex;
    justify-content: space-between;
}

.intro {
    margin-top: 100px;
    color: rgb(255, 255, 255);
}

.resume {
    position: fixed;
    top: 140px;
    left: 820px;
    bottom: 10px;
}

.workcard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 100px;
    margin-left: 0px;
    margin-right: 0px;
}

button {
    position: relative;
    background: #444;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0.1rem;
    font-size: 0.9rem;
    padding: 1rem 3rem;
    transition: 0.2s;
}

button:hover {
    letter-spacing: 0.2rem;
    padding: 1.1rem 3.1rem;
    background: var(--clr);
    color: var(--clr);
    animation: box 3s infinite;
}
button a {
    text-decoration: none;
    color:rgba(255, 197, 238, 0.688);
}

button a:hover {
    text-decoration: none;
    color:rgb(255, 99, 200);
}

button::before {
    content: "";
    position: absolute;
    inset: 2px;
    background: #272822;
}

button span {
    position: relative;
    z-index: 1;
}

button i {
    position: absolute;
    inset: 0;
    display: block;
}

button i::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 80%;
    top: -2px;
    border: 2px solid var(--clr);
    background: #272822;
    transition: 0.2s;
}

button:hover i::before {
    width: 15px;
    left:20%;
    animation: move 3s infinite;
}

button i::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 20%;
    bottom: -2px;
    border: 2px solid var(--clr);
    background: #272822;
    transition: 0.1s;
}

button:hover i::after {
    width: 15px;
    left: 80%;
    animation: move 1s infinite;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes box {
    0% {
        box-shadow: #27272c;
    }
    50% {
        box-shadow: 0 0 25px var(--clr);
    }
    100% {
        box-shadow: #27272c;
    }
}

nav {
    margin-top: 80px;
    margin-left: 620px;
}

.card-body {
    background-color: black;
    color: white;
}

.card {
    border: black;
}